body {
    background-color: #ed1c24;
}

.wholePage {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
};

#logo {
    width: 365px;
    height: 272.5px;
    text-align: center;
    margin: auto;
}

#logoBox {
    width: 94vw;
    margin: auto;
}

.orderBox {
    background-color: #ed1c24;
    border: 5px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    margin: auto;
    margin-top: 25px;
    line-height: 36px;
    padding: 10px;
}

li:before {
    content: "🍔";
    margin-left: -20px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}