.container {
    background-color: #ed1c24;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
};

#logoBox {
    width: 365px;
    height: 272.5px;
}

.orderBox {
    background-color: #ed1c24;
}